*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-family: "Zenkaku New Gothic", Helvetica, sans-serif; 
}

.section-container {
  margin-top: 10px;
  background-color: #fafe8e;
  padding-bottom: 10px;
}

.heading-container {
  width: 100vw;
  margin: 30px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  padding-top: 50px;
}

#info-container {
  width: 80vw;
  margin: 20px 10vw;
  height: auto;
  background-color: white;
  text-align: center;
  padding: 50px;
  position: relative;
}

#map-image-container {
  width: 50%;
  margin: 20px 25%;
  display: flex;
  justify-content: center;
}

#pantaro-news {
  position: absolute;
  width: 15vw;
  height: auto;
  bottom: 30px;
  left: 30px;
}

#pansyna-news {
  position: absolute;
  width: 15vw;
  height: auto;
  bottom: 30px;
  right: 30px;
}

.story-text {
  width: 50%;
  margin: 0 25% 20px 25%;
  text-align: center;
}

#churiko-story {
  position: absolute;
  width: 25vw;
  height: auto;
  top: 0;
  left: 0;
}

#pansyna-pantaro-story {
  position: absolute;
  width: 30vw;
  height: auto;
  bottom: 20px;
  right: 10px;
}

#pansyna-pantaro-story-2 {
  width: 70vw;
  margin: 10px 15vw 10px 15vw;
  height: auto;
}

#characters-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.character-name {
  padding-top: 10px;
}

.character-description {
  padding-top: 10px;
}

#profile-container {
  width: 100vw;
  /* margin: 30px 20vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-title {
  padding-left: 20vw;
  padding-top: 30px;
}

#profile-icon {
  width: 50vw;
  height: 50vw;
  padding: 30px;
}

#profile-text {
  padding-top: 20px;
  max-width: 80vw;
}

@media (min-width: 768px) {
    #characters-container {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .story-text {
        width: 30%;
        margin: 0 35% 20px 35%;
        text-align: center;
    }

    #profile-title {
        padding-top: 0px;
    }

    #profile-container {
        flex-direction: row;
    }

    #profile-text {
        max-width: 40vw;
    }

    #pansyna-pantaro-story-2 {
        width: 20vw;
        margin: 10px 40vw 10px 40vw;
        height: auto;
    }

    .section-container {
        margin-top: 100px;
        padding-bottom: 100px;
    }

    .heading-container {
        margin: 100px 0 50px;
    }

    #profile-icon {
        width: 300px;
        height: auto;
    }

    #pansyna-pantaro-story {
        width: 20vw;
        top: 30px;
        right: 30px;
    }

    #churiko-story {
        width: 15vw;
    }
}